{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-revolution-5-container">
                <div id="slider-banner-fullscreen" class="slider-banner-fullscreen rev_slider" data-version="5.0">
                    <ul class="slides">
                        <!-- slide 1 start -->
                        <!-- ================ -->
                        <li class="text-center" data-transition="crossfade" data-slotamount="default"
                            data-masterspeed="default" data-title="Coucou">

                            <!-- main image -->
                            <img src="{{ asset('assets/imgs/stadium.jpg') }}" alt="slidebg1"
                                 data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover"
                                 class="rev-slidebg">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="center"
                                 data-start="0"
                                 data-transform_idle="o:1;"
                                 data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                                 data-transform_out="o:0;s:600;"
                                 data-width="5000"
                                 data-height="5000">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <!--<div class="tp-caption xlarge_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="1000"
                                 data-end="2500"
                                 data-splitin="chars"
                                 data-splitout="chars"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
                                 data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;"
                                 data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Inspiration
                            </div>-->

                            <!-- LAYER NR. 2 -->
                            <!--<div class="tp-caption xlarge_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="3100"
                                 data-end="4600"
                                 data-splitin="chars"
                                 data-splitout="chars"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[-50%];o:0;s:600;e:Power4.easeInOut;"
                                 data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;"
                                 data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Innovation
                            </div>-->

                            <!-- LAYER NR. 3 -->
                            <!--<div class="tp-caption xlarge_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="5200"
                                 data-end="6700"
                                 data-splitin="chars"
                                 data-splitout="chars"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:[-50%];o:0;s:200;e:Power2.easeInOut;"
                                 data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Success
                            </div>-->

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption large_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="500"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                                 data-transform_out="y:0;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[-100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span
                                >Libero <span class="text-default">Conseil</span></span> <br>
                                Cabinet de recrutement
                            </div>

                            <!-- LAYER NR. 5 -->
                            <!--<div class="tp-caption"
                                 data-x="center"
                                 data-y="250"
                                 data-hoffset="-232"
                                 data-start="1000"
                                 data-end="6200"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span
                                        class="icon large circle"><i class="circle fa fa-lightbulb-o"></i></span>
                            </div>-->

                            <!-- LAYER NR. 6 -->
                            <!--<div class="tp-caption"
                                 data-x="center"
                                 data-y="250"
                                 data-start="3100"
                                 data-end="6200"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[-50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span
                                        class="icon large circle"><i class="circle fa fa-rotate-left"></i></span>
                            </div>-->

                            <!-- LAYER NR. 7 -->
                            <!--<div class="tp-caption"
                                 data-x="center"
                                 data-y="250"
                                 data-hoffset="232"
                                 data-start="5200"
                                 data-end="6200"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span
                                        class="icon large circle"><i class="circle fa fa-line-chart"></i></span>
                            </div>-->

                            <!-- LAYER NR. 8 -->
                            <!--<div class="tp-caption tp-resizeme large_white"
                                 data-x="center"
                                 data-y="210"
                                 data-start="6400"
                                 data-end="10000"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                                 data-transform_out="y:0;s:1000;e:Power2.easeInOut;">
                                <div class="separator light"></div>
                            </div>-->

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption medium_white"
                                 data-x="center"
                                 data-y="260"
                                 data-start="600"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-50%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                                 data-transform_out="y:0;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[-50%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Nous accompagnons nos clients
                                sur la recherche, <br/>
                                la sélection et l’évaluation de managers, experts et dirigeants.<br/>
                                Nous intervenons aussi bien pour des Grands Comptes que pour des start-up et des PME.
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption"
                                 data-x="center"
                                 data-y="bottom"
                                 data-voffset="100"
                                 data-start="800"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i
                                            class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i
                                            class="fa fa-angle-down"></i></a>
                            </div>

                        </li>
                        <li class="text-center" data-transition="crossfade" data-slotamount="7"
                            data-masterspeed="default" data-title="Slide Title">

                            <!-- main image -->
                            <img src="{{ asset('assets/imgs/stadium.jpg') }}" alt="slidebg1"
                                 data-bgposition="center center" data-bgrepeat="no-repeat" data-bgfit="cover"
                                 class="rev-slidebg">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="center"
                                 data-start="0"
                                 data-transform_idle="o:1;"
                                 data-transform_in="o:0;s:600;e:Power2.easeInOut;"
                                 data-transform_out="o:0;s:600;"
                                 data-width="5000"
                                 data-height="5000">
                            </div>

                            <!-- LAYER NR. 1 -->
                            <!--<div class="tp-caption xlarge_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="1000"
                                 data-end="2500"
                                 data-splitin="chars"
                                 data-splitout="chars"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
                                 data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;"
                                 data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Inspiration
                            </div>-->

                            <!-- LAYER NR. 2 -->
                            <!--<div class="tp-caption xlarge_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="3100"
                                 data-end="4600"
                                 data-splitin="chars"
                                 data-splitout="chars"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[-50%];o:0;s:600;e:Power4.easeInOut;"
                                 data-transform_out="x:[-50%];o:0;s:200;e:Power2.easeInOut;"
                                 data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Innovation
                            </div>-->

                            <!-- LAYER NR. 3 -->
                            <!--<div class="tp-caption xlarge_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="5200"
                                 data-end="6700"
                                 data-splitin="chars"
                                 data-splitout="chars"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];o:0;s:600;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:[-50%];o:0;s:200;e:Power2.easeInOut;"
                                 data-mask_in="x:0;y:0;s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Success
                            </div>-->

                            <!-- LAYER NR. 4 -->
                            <div class="tp-caption large_white"
                                 data-x="center"
                                 data-y="110"
                                 data-start="500"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                                 data-transform_out="y:0;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[-100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"><span
                                >Libero <span class="text-default">Conseil</span></span> <br>
                                Cabinet de recrutement
                            </div>

                            <!-- LAYER NR. 5 -->
                            <!--<div class="tp-caption"
                                 data-x="center"
                                 data-y="250"
                                 data-hoffset="-232"
                                 data-start="1000"
                                 data-end="6200"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span
                                        class="icon large circle"><i class="circle fa fa-lightbulb-o"></i></span>
                            </div>-->

                            <!-- LAYER NR. 6 -->
                            <!--<div class="tp-caption"
                                 data-x="center"
                                 data-y="250"
                                 data-start="3100"
                                 data-end="6200"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[-50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span
                                        class="icon large circle"><i class="circle fa fa-rotate-left"></i></span>
                            </div>-->

                            <!-- LAYER NR. 7 -->
                            <!--<div class="tp-caption"
                                 data-x="center"
                                 data-y="250"
                                 data-hoffset="232"
                                 data-start="5200"
                                 data-end="6200"
                                 data-transform_idle="o:1;"
                                 data-transform_in="x:[50%];y:0;o:0;s:700;e:Power4.easeInOut;"
                                 data-transform_out="x:0;y:0;o:0;s:700;e:Power2.easeInOut;"><span
                                        class="icon large circle"><i class="circle fa fa-line-chart"></i></span>
                            </div>-->

                            <!-- LAYER NR. 8 -->
                            <!--<div class="tp-caption tp-resizeme large_white"
                                 data-x="center"
                                 data-y="210"
                                 data-start="6400"
                                 data-end="10000"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-100%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                                 data-transform_out="y:0;s:1000;e:Power2.easeInOut;">
                                <div class="separator light"></div>
                            </div>-->

                            <!-- LAYER NR. 9 -->
                            <div class="tp-caption medium_white"
                                 data-x="center"
                                 data-y="260"
                                 data-start="600"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[-50%];sX:1;sY:1;o:0;s:1100;e:Power4.easeInOut;"
                                 data-transform_out="y:0;s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[-50%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Nous accompagnons nos clients
                                sur la recherche, <br/>
                                la sélection et l’évaluation de managers, experts et dirigeants.<br/>
                                Nous intervenons aussi bien pour des Grands Comptes que pour des start-up et des PME.
                            </div>

                            <!-- LAYER NR. 10 -->
                            <div class="tp-caption"
                                 data-x="center"
                                 data-y="bottom"
                                 data-voffset="100"
                                 data-start="800"
                                 data-transform_idle="o:1;"
                                 data-transform_in="y:[100%];sX:1;sY:1;o:0;s:2000;e:Power4.easeInOut;"
                                 data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
                                 data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                                 data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">
                                <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i
                                            class="fa fa-angle-down"></i><i class="fa fa-angle-down"></i><i
                                            class="fa fa-angle-down"></i></a>
                            </div>

                        </li>
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <div id="page-start"></div>

    <!-- section start -->
    <!-- ================ -->
    <!--<section class="section default-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-lg-8">
                                <h1 class="title">Don't Miss Out Our Offers</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quasi explicabo
                                    consequatur consectetur, a atque voluptate officiis eligendi nostrum.</p>
                            </div>
                            <div class="col-lg-4">
                                <br>
                                <p><a href="#" class="btn btn-lg btn-gray-transparent btn-animated">Learn More<i
                                                class="fa fa-arrow-right pl-20"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- section end -->

    <section class="pv-30 padding-bottom-clear">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <h2 class="text-center mt-4">Notre <strong>vision du jeu</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">Chez <span class="text-default">Libero Conseil</span>, nous sommes convaincus que la
                        réussite d'une équipe réside à la fois dans la volonté d'atteindre un but commun, et dans la
                        complémentarité et l'implication des différents membres.</p>
                    <p class="large text-center">C'est pourquoi, en plus des compétences
                        indispensables à chaque poste, nous mettons l'accent sur l'identification de profils en
                        adéquation avec la culture d'entreprise et les objectifs de nos clients.</p>
                </div>
            </div>
        </div>

    </section>

    <section class="pv-30 padding-bottom-clear light-gray-bg">
        <div class="container pv-20">
            <div class="row justify-content-md-center">
                <div class="col-lg-8">
                    <h2 class="text-center mt-4">Notre <strong>équipe</strong></h2>
                </div>
            </div>
            <div class="row grid-space-10 justify-content-md-center">
                {% for member in members %}
                    <div class="col-md-3">
                        <div class="image-box team-member style-2 hc-shadow-2 bordered light-gray-bg text-center">
                            <div class="overlay-container overlay-visible">
                                <img src="https://www.kiwicloudcms.com/content/picture/id/{{ member.photo }}/ql/480x480"
                                     alt="">
                                <!--<div class="overlay-bottom">
                                    <p class="small margin-clear">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                        Voluptates praesentium nulla cupiditate!</p>
                                </div>-->
                            </div>
                            <div class="body">
                                <a href="#" data-toggle="modal" data-target="#description{{ member.id }}"
                                   class="link-strong"><h3
                                            class="margin-clear">{{ member.prenom ~ ' ' ~ member.nom }}</h3></a>
                                <small>{{ member.poste }}</small>
                                {% if member.telephone or member.linkedin or member.email %}
                                    <div class="separator mt-10"></div>
                                    <ul class="social-links circle dark margin-clear">
                                        {% if member.telephone %}
                                            <li class="phone"><a href="tel:{{ member.telephone }}"><i
                                                            class="fa fa-phone"></i></a></li>
                                        {% endif %}
                                        {% if member.email %}
                                            <li class="email"><a href="mailto:{{ member.email }}"><i
                                                            class="fa fa-address-card"></i></a></li>
                                        {% endif %}
                                        {% if member.linkedin %}
                                            <li class="linkedin"><a href="{{ member.linkedin }}" target="_blank"><i
                                                            class="fa fa-linkedin"></i></a></li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    {% for member in members %}
        <div class="modal fade" id="description{{ member.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">{{ member.prenom ~ ' ' ~ member.nom }}</h4>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span
                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <img src="https://www.kiwicloudcms.com/content/picture/id/{{ member.photo }}/ql/480x480"
                                     alt="">
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h4 class="title">Contactez-moi</h4>
                                <div class="separator-2 mt-10"></div>
                                {% if not member.poste is empty %}
                                <ul class="contact-modal">
                                    <li>{{ member.poste }}</li>
                                    {% endif %}
                                    {% if not member.telephone is empty %}
                                        <li><strong>Téléphone :</strong> <a
                                                    href="tel:{{ member.telephone }}">{{ member.telephone }}</a></li>
                                    {% endif %}
                                    {% if not member.email is empty %}
                                        <li><strong>Mail : </strong><a
                                                    href="mailto:{{ member.email }}">{{ member.email }}</a></li>
                                    {% endif %}
                                </ul>
                                <div class="social-links circle dark">
                                    <ul>
                                        {% if not member.linkedin is empty %}
                                            <li class="linkedin"><a href="{{ member.linkedin }}" target="_blank"><i
                                                            class="fa fa-linkedin"></i></a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="separator-2 mt-10"></div>
                        <p class="mt-10">{{ member.description | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- section -->
    <!-- ================ -->
    <section class="pv-30 padding-bottom-clear">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-12">
                    <h2 class="text-center mt-4">Nos <strong>Références</strong></h2>
                    <div class="separator"></div>
                    <div class="slick-carousel carousel-autoplay content-slider-with-controls">
                        {% for reference in references %}
                            <div class="image-box text-center">
                                <div class="overlay-container">
                                    {% if reference.link %}
                                        <a href="{{ reference.link }}" target="_blank">
                                            <img
                                                    src="https://www.kiwicloudcms.com/content/picture/id/{{ reference.logo }}/ql/1140x705"
                                                    alt="" class="reference">
                                        </a>
                                        <div class="overlay-to-top">
                                            <a href="{{ reference.link }}" class="small" target="_blank">{{ reference.nom|upper }}</a>
                                        </div>
                                    {% else %}
                                        <img
                                                src="https://www.kiwicloudcms.com/content/picture/id/{{ reference.logo }}/ql/1140x705"
                                                alt="" class="reference">
                                        <div class="overlay-to-top">
                                            <span class="small">{{ reference.nom|upper }}</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

{% endblock %}
