{% extends 'base.html.twig' %}

{% block title %}Notre activité{% endblock %}

{% block body %}
    <div class="banner video-background-banner pv-40 dark-translucent-bg hovered">

        <div class="video-background-poster"
             style="background-image: url('{{ asset('assets/imgs/stadium.jpg') }}');"></div>
        <!-- breadcrumb end -->
        <div class="container">
            <div class="row justify-content-lg-center">
                <div class="col-lg-8 text-center pv-20">
                    <h2 class="title hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">Notre
                        vision du jeu</h2>
                    <div class="separator hc-element-invisible mt-10" data-animation-effect="fadeIn"
                         data-effect-delay="100"></div>
                    <p class="text-center hc-element-invisible" data-animation-effect="fadeIn" data-effect-delay="100">
                        Chez Libero Conseil, nous sommes convaincus que la réussite
                        d'une équipe réside à la fois dans la volonté d'atteindre un but commun, et dans la
                        complémentarité et l'implication des différents membres. C'est pourquoi, en plus des compétences
                        indispensables à chaque poste, nous mettons l'accent sur l'identification de profils en
                        adéquation avec la culture d'entreprise et les objectifs de nos clients.</p>
                </div>
            </div>
        </div>

    </div>
    <!-- banner end -->

    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container border-clear  pv-30 activities">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <!-- page-title end -->

                    {% for activity in activities %}
                    {% if loop.index % 2 == 0 %}
                    <div class="image-box style-3 mb-20 hc-shadow bordered light-gray-bg activity"
                         data-animation-effect="fadeInLeft" data-effect-delay="1200">
                        {% else %}
                        <div class="image-box style-3 mb-20 hc-shadow bordered light-gray-bg activity"
                             data-animation-effect="fadeInRight" data-effect-delay="1200">
                            {% endif %}
                            <div class="row grid-space-0">
                                <div class="col-lg-6">
                                    <div class="overlay-container">
                                        <img src="https://www.kiwicloudcms.com/content/picture/id/{{ activity.image }}/ql/750x464"
                                             alt="">
                                        <div class="overlay-to-top">
                                            <p class="large margin-clear"><em>{{ activity.imageDescription }}</em></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="body">
                                        <div class="pv-10 hidden-lg-down"></div>
                                        <h3>{{ activity.titre }}</h3>
                                        <div class="separator-2"></div>
                                        <p class="large margin-clear">{{ activity.description  | raw | nl2br }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                    <!-- main end -->

                </div>
            </div>
    </section>
{% endblock %}
