<!DOCTYPE html>
<html dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Libero Conseil : Cabinet de recrutement Paris et Lyon</title>
    <meta name="description" content="Nous accompagnons nos clients
                                sur la recherche, la sélection et l’évaluation de managers, experts et dirigeants. Nous intervenons aussi bien pour des Grands Comptes que pour des start-up et des PME.">
    <meta name="author" content="Libero Conseil">
    <meta name="keywords"
          content="cabinet, recrutement, cabinet de recrutement, paris, france, libero, conseil, managers, experts, dirigeants, startup, pme"/>


    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('assets/imgs/favicon.png') }}">

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/bootstrap/css/bootstrap.css') }}" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="{{ asset('assets/fonts/font-awesome/css/font-awesome.css') }}" rel="stylesheet">

    <!-- Plugins -->
    <link href="{{ asset('assets/plugins/magnific-popup/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/rs-plugin-5/css/settings.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/rs-plugin-5/css/layers.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/rs-plugin-5/css/navigation.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animations.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/plugins/slick/slick.css') }}" rel="stylesheet">

    <!-- The Project's core CSS file -->
    <!-- Use css/rtl_style.css for RTL version -->
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <!-- The Project's Typography CSS file, includes used fonts -->
    <!-- Used font for body: Roboto -->
    <!-- Used font for headings: Raleway -->
    <!-- Use css/rtl_typography-default.css for RTL version -->
    <link href="{{ asset('assets/css/typography-default.css') }}" rel="stylesheet">
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer) -->
    <link href="{{ asset('assets/css/skins/libero_green.css') }}" rel="stylesheet">

    <!-- Custom css -->
    <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/libero.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="header-container">
    <header class="header fixed fixed-desktop clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-auto hidden-md-down">
                    <!-- header-first start -->
                    <!-- ================ -->
                    <div class="header-first clearfix">
                        <!-- logo -->
                        <div id="logo" class="logo">
                            <a href="{{ path('index') }}">
                                <img id="logo_img" src="{{ asset('assets/libero/logo.png') }}"
                                     alt="The Project">
                            </a>
                        </div>
                    </div>
                    <!-- header-first end -->
                </div>
                <div class="col-lg-10 ml-auto">
                    <!-- header-second start -->
                    <!-- ================ -->
                    <div class="header-second clearfix">

                        <!-- main-navigation start -->
                        <!-- classes: -->
                        <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                        <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                        <!-- ================ -->
                        <div class="main-navigation main-navigation--mega-menu  animated">
                            <nav class="navbar navbar-expand-lg navbar-light p-0">
                                <div class="navbar-brand clearfix hidden-lg-up">

                                    <!-- logo -->
                                    <div id="logo-mobile" class="logo">
                                        <a href="{{ path('index') }}"><img id="logo-img-mobile"
                                                                           src="{{ asset('assets/libero/logo.png') }}"
                                                                           alt="The Project"></a>
                                    </div>

                                </div>

                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                    <!-- main-menu -->
                                    <ul class="navbar-nav ml-xl-auto">

                                        <!-- mega-menu start -->
                                        <li class="nav-item {{ active == 'recruter_avec_libero' ? ' active' : '' }}">
                                            <a href="{{ path('recruter_avec_libero') }}" class="nav-link"
                                               id="first-dropdown">Recruter avec Libéro</a>
                                        </li>
                                        <li class="nav-item {{ active == 'terrain_de_jeu' ? ' active' : '' }}">
                                            <a href="{{ path('terrain_de_jeu') }}" class="nav-link" id="first-dropdown">Terrain
                                                de jeu</a>
                                        </li>
                                        <li class="nav-item {{ active == 'references' ? ' active' : '' }}">
                                            <a href="{{ path('references') }}" class="nav-link"
                                               id="first-dropdown">Références</a>
                                        </li>
                                        <li class="nav-item {{ active == 'poste' ? ' active' : '' }}">
                                            <a href="{{ path('poste') }}" class="nav-link"
                                               id="first-dropdown">Postes à pourvoir</a>
                                        </li>
                                        <li class="nav-item {{ active == 'contact' ? ' active' : '' }}">
                                            <a href="{{ path('contact') }}" class="nav-link"
                                               id="first-dropdown">Contact</a>
                                        </li>
                                        <li class="nav-item {{ active == 'candidater' ? ' active' : '' }}">
                                            <a href="{{ path('candidater') }}" class="btn btn-libero">Candidater</a>
                                        </li>
                                        <!-- mega-menu end -->

                                    </ul>
                                    <!-- main-menu end -->
                                </div>
                            </nav>
                        </div>
                        <!-- main-navigation end -->
                    </div>
                    <!-- header-second end -->

                </div>

            </div>
        </div>
    </header>
</div>
{% block body %}{% endblock %}
<footer id="footer" class="clearfix ">

    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="footer-inner">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-content">
                            <p>
                                <a href="{{ path('index') }}"><img class="logo_footer"
                                                                   src="{{ asset('assets/libero/logo.png') }}"
                                                                   alt="Libero-conseil"></a>
                            </p>
                            <div class="separator-2"></div>
                            <nav>
                                <ul class="nav flex-column">
                                    <li class="nav-item"><a class="nav-link" href="{{ path('index') }}">Accueil</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('recruter_avec_libero') }}">Recruter
                                            avec Libero</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('terrain_de_jeu') }}">Terrain
                                            de jeu</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('references') }}">Contact</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{{ path('mentions_legales') }}">Mentions
                                            légales</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-4">
                        <div class="footer-content">
                            <p>
                                <a href="{{ path('index') }}"><img class="logo_footer"
                                                                   src="{{ asset('assets/libero/logo-charte-de-la-diversite-signataire_HD.png') }}"
                                                                   alt="Charte de la diversité"></a>
                            </p>
                            <div class="separator-2"></div>
                            Libero Conseil s’engage contre les discriminations et est signataire de la charte de la
                            diversité.
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3">
                        <div class="footer-content">
                            <h2 class="title">Contactez-nous</h2>
                            <div class="separator-2"></div>
                            <a href="https://www.linkedin.com/company/libero-conseil/about/"
                               class="btn btn-lg btn-animated linkedin" style="text-align: end;margin-bottom: 30px;">
                                Suivez-nous
                                sur<br><strong>Linkedin</strong>
                                <i class="pl-10 fa fa-linkedin"></i>
                            </a>
                            <div class="separator-2"></div>
                            <ul class="list-icons">
                                <li><a href="tel:0188328227"><i class="fa fa-phone pr-2 text-default"></i>01 88 32 82 27</a>
                                </li>
                                <li><a href="mailto:contact@libero-conseil.com"><i class="fa fa-envelope-o pr-2"></i>contact@libero-conseil.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->

    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="subfooter-inner">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center"><span>&copy;{{ "now" | date('Y') }}. Créé par <a
                                        href="http://www.ara-solutions.com" id="www" class="ara-link" target="_blank">ARA-Solutions</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->

</footer>
<script src="{{ asset('assets/plugins/jquery.min.js') }}"></script>
<script src="{{ asset('assets/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- jQuery Revolution Slider  -->
<script src="{{ asset('assets/plugins/rs-plugin-5/js/jquery.themepunch.tools.min.js') }}"></script>
<script src="{{ asset('assets/plugins/rs-plugin-5/js/jquery.themepunch.revolution.min.js') }}"></script>
<!-- Isotope javascript -->
<script src="{{ asset('assets/plugins/isotope/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ asset('assets/plugins/isotope/isotope.pkgd.min.js') }}"></script>
<!-- Magnific Popup javascript -->
<script src="{{ asset('assets/plugins/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
<!-- Appear javascript -->
<script src="{{ asset('assets/plugins/waypoints/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('assets/plugins/waypoints/sticky.min.js') }}"></script>
<!-- Count To javascript -->
<script src="{{ asset('assets/plugins/countTo/jquery.countTo.js') }}"></script>
<!-- Slick carousel javascript -->
<script src="{{ asset('assets/plugins/slick/slick.min.js') }}"></script>
<!-- Initialization of Plugins -->
<script src="{{ asset('assets/js/template.js') }}"></script>
<!-- Custom Scripts -->
<script src="{{ asset('assets/js/custom.js') }}"></script>

<script type="text/javascript"
        src="{{ asset('assets/plugins/rs-plugin-5/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/plugins/rs-plugin-5/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
<script type="text/javascript"
        src="{{ asset('assets/plugins/rs-plugin-5/js/extensions/revolution.extension.navigation.min.js') }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143704494-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-143704494-1');
</script>

{% block javascripts %}{% endblock %}
</body>
</html>
